DOMAIN=local.jimmodel.com
URL=http://$DOMAIN

# Application root user configuration
ROOT_NAME=JIM
ROOT_PASSWORD=password
ROOT_EMAIL=jim@jimmodel.com

# Authentication configuration
AUTH_SECRET=G4SZhQG4VXRfg818DB7jpn0o1+Z+FCIkHVcZBIOwUzuv
AUTH_TRUST_HOST=true

# Database configuration
DB_USER=jimmodel
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=jimmodel


# Minio configuration
MINIO_ROOT_USER=jimmodel
MINIO_ROOT_PASSWORD=password

# S3 configuration
S3_ACCESS_KEY=jimuser
S3_SECRET_KEY=jimpassword
S3_ENDPOINT=localhost
S3_PORT=9000
S3_BUCKET_NAME=jimmodel

# REDIS_PASSWORD=password
REDIS_HOST=localhost
REDIS_PORT=6379



MINIO_DATA=/data/minio_data
POSTGRES_DATA=/data/postgres_data
REDIS_DATA=/data/redis_data
LETSENCRYPT_DATA=/data/letsencrypt_data

CERT_FILE_PATH
KEY_FILE_PATH
